[submodule "JulietX"]
	path = JulietX
	url = git@github.com:Eycer-usb/JulietX.git
[submodule "scaphandre"]
	path = scaphandre
	url = git@github.com:hubblo-org/scaphandre.git
[submodule "client_monitor/joularjx"]
	path = client_monitor/joularjx
	url = https://github.com/joular/joularjx.git
